.navbar{
  position:fixed;
  top:0;
  left:0;
  right:0;
}
body{
  background-image: linear-gradient(10deg, black, rgb(13, 41, 58));
  background-repeat: no-repeat;
}
.auth{
  background-image: linear-gradient(10deg, black, rgb(13, 41, 58));
  min-height: 100vh;
}
.auth input{
  padding: 15px 5px;
  margin: 10px 0;
  width: 100%;
}
.auth button{
  padding:15px 5px;
  width: 103%;
  margin:10px 0;
}
.rate-container{
  min-height: 100vh;
}
.rate-container select{
  padding: 15px 5px;
  margin: 10px 0;
  width: 100%;
}
.rate-container input{
  padding: 15px 5px;
  margin: 10px 0;
  width: 98%;
}
.rate-container button{
  padding:15px 5px;
  width: 100%;
  margin:10px 0;
}
.trading-coin .head-button{
  padding: 10px 0px;
  width:100%;
}
.trading-coin .head-button button{
  border:none;
  background-color: transparent;
  color:black;
  font-size: 20px;
}
.trading-coin .head-button button:hover{
  border-bottom:1px solid green;
  color:green;
}
.trading-coin .card{
  padding-top:0px;
}
.trading-coin form{
  width:100%;
}
.trading-coin input, .trading-coin form .p-input{
  width:48%;
  padding:10px 2px;
  border:none;
  border-radius: 5px;
  color: black;
  background-color: lightgray;
}
.trading-coin form button{
  width:100%;
}
input{
  outline:none;
}

.trading-coin .review button{
  width:100%;
  padding:10px;
  border:none;
  border-radius: 5px;
  color: black;
  background-color: lightgray;
  margin-top:8px;
}
.backdrop{
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: rgba(0, 0, 0, 0.4);
}
.trading-modal{
  display:flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.file input{
  width:95%;
  padding:10px;
  border:none;
  border-radius: 5px;
  color: black;
  background-color: lightgray;
  margin-top:8px;
}

@media screen  and (max-width:720px){
  nav{
    display:flex;
    flex-direction: column;
  }
  .rates .card{
    width: 93vw;
    margin:auto;
  }

}